{% extends 'base.html.twig' %}

{% block title %}New Role{% endblock %}

{% block templateActions %}
    <a type="button"
       class="btn btn-sm btn-outline-secondary"
       href="{{ path('app_role_index') }}">back to list</a>
{% endblock %}

{% block body %}

    {{ include('role/_form.html.twig') }}

{% endblock %}
